{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Login</title>
{% endblock title %}
{% block content %}
   <div class='content-section'>
        <form method='POST'>
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class='form-group'>
                <button class='btn btn-dark' type='submit'>Log In</button>
            </div>
        </form>
        <div class='border-top pt-3'>
            <small class='text-muted'>Don't Have An Account?</small><a class='ml-2 mr-5' href="{% url 'register' %}">Sign Up</a>
            <small class='text-muted'>Forgot your Password?</small><a class='ml-2' href="{% url 'password_reset' %}">Change</a>
        </div>
    </div>
{% endblock content %}