{% extends "blog/base.html" %}
{% load static %}
{% block title %}
    <title>Post Correct</title>
{#    <title>{{ object_list[0].get_level_display }}</title>#}
{% endblock title %}

{% block content %}
    <div class="col-md-4 col-lg-offset-5" margin-left="20px">
        <div class="card article">
            <h2 class="article-title">识别结果及建议</h2>
        </div>
        <div class="card-content">
                <img class="responsive opacity" aria-setsize="" src="{{ path }}" alt="">
                    <div class="card-content">
{#          <p class="date-field">{{ post.created_on|date:"d.m.y" }} / {{post.field}}</p>#}
                        <h3> {{ feedback }}</h3>
                        <p>{{ look }}</p>
                    </div>
        </div>
    </div>

{% endblock content %}