{% extends "blog/base.html" %}
{% block title %}
    <title>Detail Post</title>
{% endblock title %}
{% block content %}
    <article class="media content-section align-center ">
        <h2 class="article-title">{{ post.title}}</h2>
        <div class="media-body">
            <small class="text-muted right">{{ post.date_published|date:'F d, Y' }}</small>
            <div class="article-metadata">
                <img class='fa-times-rectangle article-img' src='{{ post.image.url}}' height="40%" height="40%">
            </div>
            <div class="float-right">
{#                <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'post-update' object.id %}">Update</a>#}
{#                <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'post-delete' object.id %}">Delete</a>#}
{#                <a class="author float-right" href="{% url 'show_profile' post.author %}">{{ post.author }}</a>#}
                <a class="author float-right" href="{% url 'post-correct'%}">查看矫正结果</a>#}
            </div>
        </div>
    </article>
{% endblock content %}